[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://gitee.com/mirrors_adityatelange/hugo-PaperMod.git
[submodule "LoveIt"]
	path = LoveIt
	url = https://gitee.com/laijingwei/LoveIt.git
[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
